# This folder does not require access over HTTP
# (the following directive denies access by default)


Redirect 301 /contact-us/saturdayclinic.aspx http://podlink.com/resources/saturdayclinic.php
Redirect 301 /resources/forms/newpatientforms.aspx http://podlink.com/resources/npforms.php
Redirect 301 /resources/faq.aspx http://podlink.com/resources/faq.php
Redirect 301 /resources/forms.aspx http://podlink.com/resources/npforms.php
Redirect 301 /resources/faq.aspx http://podlink.com/resources/faq.php






Redirect 301 /home.aspx  http://podlink.com/index.php
Redirect 301 /contact-us.aspx http://podlink.com/contact.php
Redirect 301 /contact-us/locations.aspx http://podlink.com/location.php
Redirect 301 /about.aspx http://podlink.com/about.php
Redirect 301 /about/perez.aspx http://podlink.com/doctors/perez.php
Redirect 301 /about/strash.aspx http://podlink.com/doctors/strash.php
Redirect 301 /about/chaney.aspx http://podlink.com/doctors/chaney.php
Redirect 301 /about/jordanmechell.aspx http://podlink.com/doctors/mechell.php

#pathology
Redirect 301 /treatments-and-conditions/conditions/heel/heel-pain.aspx http://podlink.com/pathology/heel-pain.php
Redirect 301 /treatments-and-conditions/conditions/forefoot/bunions/bunionsurgery.aspx http://podlink.com/pathology/bunions.php
Redirect 301 /treatments-and-conditions/conditions/forefoot/bunions.aspx http://podlink.com/pathology/bunions.php
Redirect 301 /treatments-and-conditions/conditions/ankleproblems/pttd.aspx http://podlink.com/pathology/pttd.php
Redirect 301 /treatments-and-conditions/conditions/forefoot/neuromas.aspx http://podlink.com/pathology/neuroma.php
Redirect 301 /treatments-and-conditions/conditions/skin/IngrownToenails.aspx http://podlink.com/pathology/ingrowntoenails.php
Redirect 301 /treatments-and-conditions/conditions/forefoot/gout.aspx http://podlink.com/pathology/gout.php
Redirect 301 /pathology/gout.htm http://podlink.com/pathology/gout.php
Redirect 301 /treatments-and-conditions/conditions/fractures/fifthmetfractures.aspx http://podlink.com/pathology/fifthmetatarsalfracture.php
Redirect 301 /treatments-and-conditions/conditions/heel/shockwave-treatment.aspx http://podlink.com/pathology/eswt.php
Redirect 301 /treatments-and-conditions/conditions/skin/nailfungus.aspx http://podlink.com/pathology/nailfungus.php
Redirect 301 /treatments-and-conditions/conditions/heel/seversdisease.aspx http://podlink.com/pathology/calcanealaphophysitis.php
Redirect 301 /treatments-and-conditions/conditions/ankleproblems/peroneal.aspx http://podlink.com/pathology/peronealtendonitis.php
Redirect 301 /treatments-and-conditions/conditions/forefoot/hammertoes.aspx http://podlink.com/pathology/hammertoes.php
Redirect 301 /treatments-and-conditions/conditions/ankleproblems/arthrodiastasis.aspx http://podlink.com/pathology/arthrodiastasis.php
Redirect 301 /treatments-and-conditions/conditions/ankleproblems/achilles-tendonitis.aspx http://podlink.com/pathology/achillestendonitis.php
Redirect 301 /treatments-and-conditions/conditions/fractures/anklefracture.aspx http://podlink.com/pathology/anklefracture.php
Redirect 301 /treatments-and-conditions/conditions/heel/haglunds-deformity.aspx http://podlink.com/pathology/haglunds.php
Redirect 301 /treatments-and-conditions/conditions/skin/wart.aspx http://podlink.com/pathology/wart.php
Redirect 301 /treatments-and-conditions/conditions/diabetes/charcot.aspx http://podlink.com/pathology/charcot.php
Redirect 301 /treatments-and-conditions/conditions/forefoot/hallux-rigidus.aspx http://podlink.com/pathology/halluxlimitus.php
Redirect 301 /treatments-and-conditions/conditions/fractures/stressfracture.aspx http://podlink.com/pathology/stressfracture.php
Redirect 301 /treatments-and-conditions/conditions/arthritis.aspx http://podlink.com/pathology/arthritis.php
Redirect 301 /treatments-and-conditions/conditions/diabetes/diabeticwounds.aspx http://podlink.com/pathology/diabeticfootcomplications.php
Redirect 301 /treatments-and-conditions/conditions/fractures/fifthmetfractures.aspx http://podlink.com/pathology/fifthmetatarsalstressfractures.php
Redirect 301 /treatments-and-conditions/conditions/skin/IngrownToenails.aspx http://podlink.com/pathology/ingrowntoenail.php
Redirect 301 /treatments-and-conditions/conditions/ankleproblems/tarsalcoalition.aspx http://podlink.com/pathology/tarsalcoalition.php

Redirect 301 /treatments-and-conditions/conditions.aspx http://podlink.com/pathology/pathology.php
Redirect 301 /treatments-and-conditions/bunions.aspx http://podlink.com/pathology/bunions.php
Redirect 301 /treatments-and-conditions/neuromas.aspx http://podlink.com/pathology/neuroma.php
Redirect 301 /treatments-and-conditions/hammertoes.aspx http://podlink.com/pathology/hammertoes.php
Redirect 301 /treatments-and-conditions/achilles-tendonitis.aspx http://podlink.com/pathology/achillestendonitis.php
Redirect 301 /treatments-and-conditions/interactive-diagnosis.aspx http://podlink.com/pathology/pathology.php
Redirect 301 /treatments-and-conditions/Ultrasound.aspx http://podlink.com/pathology/pathology.php
Redirect 301 /treatment-and-conditions.aspx http://podlink.com/pathology/pathology.php
Redirect 301 /pathology.php http://podlink.com/pathology/pathology.php




ErrorDocument 404     /404.php
