@blue:			#428bca;
@grey:			grey;
.fill {
	background: @blue;
	height: 40px;
}

#push,
#footer {
  height: auto;
}
#footer {
  background-color: #eee;

  border-top: solid;
  border-width: 1px;
  border-color: @blue;
}


  #titlecarousel {
	margin: 0 auto;
	max-width: 900px;
	
	}

#center {


  	zoom: 1.7;
  	margin: 0 auto;
  	text-color: red;
  	text-align: center; 
  	.gylphicons:before{
	content: "";
	color:red;
}
 
  }
  


.glyphicons{
	

	margin-top: -20px;

	padding-right: 0px;

	margin-left: -0px;

	
    
	
	
}
.picline	{
	background: @grey;
	padding: 15px;
	width: 	0 auto;
	border:	solid;
	color:	@blue

	}

.navbar-brand {
	
}
