@import "variables.less";
@blue:			#2980b9;
@grey:			#7f909a;

.grey	{
	background-color: @grey;

}

.fill {
	background: @blue;
	height: 1em;
}

.toolbar {
	background: @blue;
	height: 5em;
}


#tools {
	border-right-color: @grey;
	border-right-style: solid;
	border-right-width: 1px;
    height: 5em;
    background: @blue;

    
    .nav a {
    	border-right-color: @grey;
   		border-right-style: solid;
   		border-right-width: 0px;
   		border-left-color: @grey;
   		border-left-style: solid;
   		border-left-width: 2px;
    	padding-top: 30px;
    	color: #fff;
   		height: 5em;	
    }
   
   .glyphicons-icon {
   		margin-top: -13px;
   }
    
   
}

#push,
#footer {
	
  height: auto;
}
#footer {
  background-color: @grey;

  border-top: solid;
  border-width: 1px;
  border-color: @blue;
}


  #titlecarousel {
	
	
	}

#center {


  	zoom: 1.7;
  	margin: 0 auto;
  	text-color: red;
  	text-align: center; 
  	.gylphicons:before{
	content: "";
	color:red;
}
 
  }
  


.glyphicons{
	

	margin-top: -20px;

	padding-right: 0px;

	margin-left: -0px;   
	
}



.picline	{
	margin-bottom: 20px;
	background: lighten(@blue, 40%);

	border-radius: @panel-border-radius;

	padding: 15px;
	width: 	0 auto;
	height: 35em;
	border:	 1px solid;
	border-color: lighten(@blue, 30%);
	text-align: center;
	p{
		text-align: left;
	}

	

	}

.navbar-brand {
	padding: 0px;
	font-size: 1em;
	
}
.navbar {
	margin-bottom: auto;
}




